<?xml version="1.0" encoding="utf-8"?>  
<RunSettings>  
  <!-- Parameters used by tests at runtime -->  
  <TestRunParameters>
    <!-- REPLACE THE APPLICATIONBASEURL BEFORE EVERYTHING!!!!!!!!!!!!-->
    <Parameter name="ApplicationBaseUrl" value="https://www.sourpussclothing.com/"/>
    <Parameter name ="BrowserName" value="Chrome"/>
    <Parameter name="VendorDirectory" value="\Vendor"/>
  </TestRunParameters>  
</RunSettings> 